.modalBackgroung{
    position: fixed;
    background-color: black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0.9;
}
.modelContainer{
    background-color: #fff;
    box-shadow: 0 0 0 #888;
    padding: 10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}
.Vbutton{
    display: flex;
    justify-content: right;
    position: relative;
    height: 450px;
    line-height: 450px;
    padding: 10px;
}